# Data Pre Processing

In [18]:
import pandas as pd

In [19]:
#read data from data set 
data1 = pd.read_csv("DataSets/col_mat_nuw_output.csv",header = None)
data2 = pd.read_csv("DataSets/kan_output.csv", header=None)
data3 = pd.read_csv("DataSets/mon_kur_jaf_output.csv", header=None)
data = pd.concat([data1,data2,data3])
data

             0               1           2           3
0     0.000197  Colombo Proper  2019-01-01  2019-01-02
1     0.000263  Colombo Proper  2019-01-02  2019-01-03
2     0.000099  Colombo Proper  2019-01-03  2019-01-04
3     0.000210  Colombo Proper  2019-01-04  2019-01-05
4     0.000179  Colombo Proper  2019-01-05  2019-01-06
...        ...             ...         ...         ...
5473       NaN   Jaffna Proper  2023-12-27  2023-12-28
5474  0.000051   Jaffna Proper  2023-12-28  2023-12-29
5475  0.000127   Jaffna Proper  2023-12-29  2023-12-30
5476  0.000117   Jaffna Proper  2023-12-30  2023-12-31
5477  0.000065   Jaffna Proper  2023-12-31  2024-01-01

[12782 rows x 4 columns]

In [20]:
data.columns = ["HCHO reading", "Location", "Current Date", "Next Date"]

In [21]:
data

      HCHO reading        Location Current Date   Next Date
0         0.000197  Colombo Proper   2019-01-01  2019-01-02
1         0.000263  Colombo Proper   2019-01-02  2019-01-03
2         0.000099  Colombo Proper   2019-01-03  2019-01-04
3         0.000210  Colombo Proper   2019-01-04  2019-01-05
4         0.000179  Colombo Proper   2019-01-05  2019-01-06
...            ...             ...          ...         ...
5473           NaN   Jaffna Proper   2023-12-27  2023-12-28
5474      0.000051   Jaffna Proper   2023-12-28  2023-12-29
5475      0.000127   Jaffna Proper   2023-12-29  2023-12-30
5476      0.000117   Jaffna Proper   2023-12-30  2023-12-31
5477      0.000065   Jaffna Proper   2023-12-31  2024-01-01

[12782 rows x 4 columns]

In [27]:
for column in data:

HCHO reading
Location
Current Date
Next Date

             0                    1           2           3
0     0.000197       Colombo Proper  2019-01-01  2019-01-02
1     0.000263       Colombo Proper  2019-01-02  2019-01-03
2     0.000099       Colombo Proper  2019-01-03  2019-01-04
3     0.000210       Colombo Proper  2019-01-04  2019-01-05
4     0.000179       Colombo Proper  2019-01-05  2019-01-06
...        ...                  ...         ...         ...
5473       NaN  Nuwara Eliya Proper  2023-12-27  2023-12-28
5474       NaN  Nuwara Eliya Proper  2023-12-28  2023-12-29
5475       NaN  Nuwara Eliya Proper  2023-12-29  2023-12-30
5476       NaN  Nuwara Eliya Proper  2023-12-30  2023-12-31
5477       NaN  Nuwara Eliya Proper  2023-12-31  2024-01-01

[5478 rows x 4 columns]